.dashboard-container {
  background-color: #4C4D7A;
  color: #A5934B;
  padding: 2rem;
  text-align: center;
  min-height: 100vh;
}

h2 {
  margin-bottom: 0.5rem;
}

p {
  margin-bottom: 2rem;
}

.charts-wrapper {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}

canvas {
  background-color: #4C4D7A;
  border-radius: 10px;
  padding: 10px;
}
