.dashboard-container {
  background-color: #1e1e2f;
  color: #0e0b1a;
  padding: 2rem;
  text-align: center;
  min-height: 100vh;
}

h2 {
  margin-bottom: 0.5rem;
}

p {
  margin-bottom: 2rem;
}

.charts-wrapper {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}

canvas {
  background-color: #0e0b1a;
  border-radius: 10px;
  padding: 10px;
}
